nav {
    width: 100%;
    background: blue;
  }
  
  nav ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
  }
  
  nav ul li:hover {
    background: orange;
  }
  
  nav ul a {
    color: white;
    text-decoration: none;
  }
  
  nav .toggle {
    width: 100%;
    padding: 10px 20px;
    background: red;
    text-align: right;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
    display: none;
  }
  
  @media (max-width: 1280px) {
    nav .toggle {
      display: block !important;
    }
    nav .active {
      display: block;
    }
    nav ul {
      width: 100%;
      display: none;
    }
    nav ul a {
      display: block;
      text-align: center;
    }
  }
  