
<!-- <ng-container *ngIf="userLoged && userRole == "> -->
    <nav>
        <div class="toggle">
            <i class="fa fa-bars menu" aria-hidden="true" (click)="toggleClass()"></i>
        </div>
        <ul [class.active]="classApplied">
            <a href="/"><li>Home</li></a>
            <a href="/map"><li>Map</li></a>
            <a href="/Trees"><li>Trees</li></a>
            <a href="/MsaViewer"><li>Msa viewer</li></a>
            <a href="/fasta"><li>Fasta</li></a>
            <a href="/orthologs"><li>Orthologs</li></a>
            <a href="/sequence_alignment"><li>Sequence Alginment</li></a>
            <a href="/authors"><li>Authors</li></a>
            <a href="/insights"><li>NCBI insights</li></a>
            <a href="/about"><li>About</li></a>
            <a href="/manage_users"><li>Manage Users</li></a>
            <a href="/login"><li>Log in</li></a>
            <a href="/signup"><li>Sign up</li></a>
        </ul>
    </nav>
<!-- </ng-container> -->

<hr>