<div class="container data-visualization">
    <h2 class="underline">Statistics</h2>
    <div id="gog-plots">
        <div id="bar-plot">
            <h3>Species with more occurrences registered</h3>
            <p>View the species with more occurrences registrered in bar plot</p>
        </div>
        <div id="pie-plot">
            <h3>States with more occurrences registered</h3>
            <p>View the states with more occurrences registrered</p>
        </div>
        <div id="scatter-plot">
            <h3>Coordinates scatter plot</h3>
            <p>View the dispersion of the marker coordinates</p>
        </div>
    </div>
</div>